<h1 align="center">Sign up for Alpha Blog!</h1>
<%= render "shared/error",obj:@user %>
<%= render "users/form"%>
	<div class="col-xs-4 col-xs-offset-4">
		[<%= link_to "Cancel Request and return to article listing",articles_path%>]	
	</div>
	</div>
</div>

