<div class="jumbotron center">
	<div class="vertical-align">
		<h1 class="display-4">Welcome to Alpha Blog!</h1>
		<%= link_to "Sign Up Now!",signup_path,class:"btn btn-danger btn-lg btn-xlarge"%>
	</div>
</div>